@page "/"

<PageTitle>Home</PageTitle>

<h1>This page is situated in the shared project - Components.</h1>
<h2>Also, it uses the shared styles - app.css and bootstrap.css</h2>
<h2>And of course, it uses shared API.</h2>

Welcome to your new app.
